.section {
  margin-top: 4px;
  padding: 0 10px;
}

.section:first-of-type {
  margin-top: 24px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
}

.icon {
  translate: transform 200ms linear;
}

.iconOpen {
  transform: rotate(180deg);
}

.content {
  overflow: hidden;
  transition: height 200ms linear;
}
