.products {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* row-gap: 24px; */
  column-gap: 12px;
  row-gap: 10px;
  margin: 24px 0 0;
  width: 100%;
  padding: 0;
  list-style: none;
  /* background-color: #fff8dc; */
}

@media (min-width: 768px) {
  .products {
    margin-top: 0;
  }
}
