.catalog {
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-inline: auto;
  max-width: 1600px;
  padding: 20px;
  font-size: 14px;
  /* background-color: #f9f9f9; */
}

@media (min-width: 576px) {
  .catalog {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .catalog {
    flex-direction: row;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .catalog {
    flex-direction: row;
    font-size: 17px;
  }
}
