.catalog {
  margin-inline: auto;
  width: 375px;
  padding-inline: 12px;
}

@media (min-width: 768px) {
  .catalog {
    width: 768px;
    padding-inline: 24px;
  }

  .content {
    display: flex;
    gap: 30px;
    margin-top: 40px;
  }
}

@media (min-width: 1440px) {
  .catalog {
    width: 1440px;
    padding-inline: 68px;
  }

  .content {
    gap: 24px;
  }
}
