.profileText {
  display: none;
}

@media (min-width: 768px) {
  .linkCabinet {
    display: flex;
    gap: 6px;
  }

  .profileIcon {
    width: 12px;
    height: 33px;
  }

  .profileText {
    display: block;
  }
}

@media (min-width: 1440px) {
  .linkCabinet {
    gap: 10px;
  }

  .profileIcon {
    width: 20px;
    height: 60px;
  }
}
