.modal {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  padding-inline: calc((100% - 351px) / 2);
  background-color: #fff;
  transition: left 250ms linear;
}

.modal.open {
  left: 0;
}

.modalTitle {
  position: relative;
  padding: 8px 12px;
  line-height: 42px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.btnClose {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
}

@media (min-width: 768px) {
  .modal {
    position: static;
    width: unset;
    padding: 0;
  }
}
