
.categories {
  padding-inline: 12px;
}

.item {
  border-bottom: 0.5px solid #d9d9d9;
  padding-block: 12px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
}

.button {
  text-align: left;
}

@media (min-width: 768px) {
  .modalTitle {
    display: none;
  }

  .categories {
    width: 183px;
    padding: 0;
  }

  .item {
    margin-top: 30px;
    border-bottom: none;
    padding: 0;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
  }

  .item:first-child {
    margin-top: 0;
  }
}
