.container {
  min-width: 320px;
  max-width: 375px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
}

.marginBox {
  margin-top: 50px;
}

@media (min-width: 768px) {
  .container {
    margin-top: 10px;
    max-width: 768px;
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-top: 20px;
    max-width: 1304px;
    margin-left: auto;
    margin-right: auto;
  }

  .form {
    height: 1169px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 36px;
  }

}
