.hint {
  text-align: left;
  font-size: 14px;
  color: #555;
}

.check {
  display: inline-block;
  margin-right: 12px;
  color: green
}

.cross {
  display: inline-block;
  margin-right: 12px;
  color: red
}