.productBox {
  display: flex;
  justify-content: space-between;
}

.priceBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
}

.totalBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  border: 1px solid #fe7a29;
  border-radius: 10%;
  width: 124px;
  height: 104px;
}

.title {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  width: 100%;
}

.price {
  font-family: Inter;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: right;
}

.total {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: right;
}
