.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconFlex {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mainTitle {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: 0%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.border {
  border: 1px solid #F6F6F6;
}


.titleBox {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  background-color: #fff;
  border-bottom: 1px solid #C2C2C2;

}

.iconCross {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 10px;
}

.icon {
  width: 200px;
  height: 100%;
}

.link {
  text-decoration: underline;
  color: #FE7A29;
}

.title {
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0%;
}

.text {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
}

@media (min-width: 768px) {
  .container {
    width: 688px;
    margin-left: auto;
    margin-right: auto;
  }

  .titleBox {
    width: 100%;
    padding: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #C2C2C2;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 300px;
    height: 100%;
  }
  
  .link {
    text-decoration: underline;
    color: #FE7A29;
  }
  
  .title {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 26.4px;
    letter-spacing: 0%;
  }
  
  .text {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 0%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1035px;
    margin-left: auto;
    margin-right: auto;
  }

  .icon {
    width: 400px;
    height: 100%;
  }
  
  .link {
    text-decoration: underline;
    color: #FE7A29;
  }
  
  .title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 26.4px;
    letter-spacing: 0%;
  }
  
  .text {
    font-family: Inter;
    font-weight: 500;
    font-size: 22px;
    line-height: 26.6px;
    letter-spacing: 0%;
  }
}