.button {
  position: absolute;
  z-index: 11;
  top: 12px;
  left: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translatey(-50%); */
}

.right {
  right: 16px;
  left: unset;
}

@media (min-width: 768px) {
  .button {
    width: 14px;
    height: 14px;
  }
}
