.productBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageBox {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  border: 1px solid #fe7a29;
  border-radius: 10%;
  width: 124px;
  height: 104px;
}

.title {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.price {
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
}
