button,
h1,
h2,
h3,
input,
label,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

label {
  display: block;
}

input {
  border: none;
  padding: 0;
  outline: none;
  /* height: auto; */
  width: 100%;
}

input[type='search'] {
  outline-offset: 0;
  padding-block: 0;
  padding-inline: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}
