.controls {
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
}

@media (min-width: 768px) {
  .controls {
    gap: 40px;
  }
}

@media (min-width: 1440px) {
  .controls {
    gap: 80px;
  }
}
